body {
  margin: 0px
}
.android-large {
  display: flex;
  flex-direction: column;
  gap: 9px;
  background: linear-gradient(180deg, rgb(229, 190, 16) 0%, #e51024 100%);
  align-content: flex-start;
}

.android-large .rectangle {
  height: 59px;
  background-color: #00000080;
  border-radius: 0px 0px 30px 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.android-large .frame {
  display: inline-flex;
  flex-direction: column;
  /*align-items: center;*/
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
  overflow-y: scroll;
  height: 100dvh;
}

.android-large .div {
  /* position: relative; */
  width: 100vw;

  height: 80px;
  background-color: #00000080;
  border-radius: 30px;
}

@media (min-width: 650px) {
  .android-large .div {
    max-width: 360px;
    min-width: 30vw;
  }
}

.android-large .img {
  height: 80px;
  position: relative;
  width: 360px;
  margin: 1em;
}

.android-large .ellipse {
  /*position: absolute;*/
  width: 2.8rem;
  height: 2.8rem;
  top: 7px;
  left: 308px;
  margin: 1em;
  border: 0.2rem solid #fff;
  border-color: black;
  border-radius: 30rem;
}

.android-large .text-wrapper {
  /*position: absolute;
  top: 12px;
  left: 21px;*/
  margin: 1em;
  font-family: "Red Hat Mono-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.7rem;
  letter-spacing: -0.48px;
  line-height: normal;
}

#status {
  font-size: 1.3rem;
}
